<div class="d-flex justify-content-center align-items-center vh-100 bg-primary-purple">
  <div class="text-center">
    <div class="card big-card p-4">
      <div class="d-flex justify-content-between">
        <i (click)="info()" class="bi bi-info-lg lightbulb-off info"></i>
        @if (oneHelp==true) {
        <i (click)="help()" class="bi bi-lightbulb-fill lightbulb-on"></i>
        }@else if(oneHelp== false) {
        <i class="bi bi-lightbulb-off lightbulb-off"></i>
        }@else {
        <i class="bi bi-hourglass lightbulb-off progress-clock"></i> }
      </div>
      <div class="card-body">
        @if (orderedWord.length > 0) {
        <h5 class="text-white">Adivina la palabra</h5>
        <div class="text-secondary pt-2">
          Selecciona las letras en el orden <br>
          que consideres para armar la palabra
        </div>
        <div class="box-letters my-4 pb-2">
          @for (item of orderedWord; track $index) { @if(validateWord[$index]){
          <button disabled class="letter btn btn-outline-secondary">{{validateWord[$index]}}</button>
          }@else {
          <button disabled class="letter btn btn-outline-secondary">_</button>
          } }
        </div>
        <div class="my-2">
          @for (item of desorderedWord; track $index) {
          <button (click)="addLetter(item, $index)" [disabled]="isDisabled[$index]"
            class="letter btn btn-secondary">{{item}}</button>
          }
        </div>
        }
      </div>
      <div class="card-footer">
        <div class="mb-4">
          <button class="btn btn-primary mx-2 px-4" (click)="randomWord(); operationsScore(-1, true)">Saltar</button>
          <button class="btn btn-primary mx-2 px-4" (click)="clean()">Limpiar</button>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <i (click)="operationsScore(-this.score, false)" class="bi bi-arrow-clockwise text-primary fa-lg"
            title="Reiniciar puntaje"></i>
          <small class="text-secondary mx-2">
            Puntuación: <span class="text-primary">{{score}} @if (score==1) {pt}@else{pts}.</span>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalResponse" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        @if (modal.msg) {
        <div class="d-flex justify-content-end">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="m-5 mt-1">
          <div class="emoji-response">
            @if (modal.type == 'SUCCESS') {
            <span class="">🎉</span>
            }@else if (modal.type == 'DANGER') {
            <span class="emoji-response">😓</span>
            }@else if(modal.type == 'ANGRY'){
            <span class="emoji-response">😠</span>
            }@else if (modal.type == 'INFO') {
            <span class="emoji-response">💡</span>
            }
          </div>
          <h1 class="modal-{{modal.type}}">{{modal.title}}</h1>
          <h5 [innerHTML]="modal.msg"></h5>
        </div>
        }
      </div>
    </div>
  </div>
</div>