<div class="d-flex justify-content-center align-items-center vh-100 bg-primary-purple">
  <div class="text-center">
    <div class="card big-card p-4">
      <div class="card-body">
        @if (orderedWord.length > 0) {
        <h5 class="text-white">Adivina la palabra</h5>
        <div class="text-secondary pt-2">
          Seleccione las letras en el orden <br>
          que usted considere para armar la palabra
        </div>
        <div class="box-letters my-4 pb-2">
          @for (item of orderedWord; track $index) { @if(validateWord[$index]){
          <button disabled class="letter btn btn-outline-secondary">{{validateWord[$index]}}</button>
          }@else {
          <button disabled class="letter btn btn-outline-secondary">_</button>
          } }
        </div>
        <div class="my-2">
          @for (item of desorderedWord; track $index) {
          <button (click)="addLetter(item, $index)" [disabled]="isDisabled[$index]"
            class="letter btn btn-secondary">{{item}}</button>
          }
        </div>
        }
      </div>
      <div class="card-footer">
        <div class="mb-4">
          <button class="btn btn-primary mx-3 px-4" (click)="randomWord()">Saltar</button>
          <button class="btn btn-primary mx-3 px-4">Limpiar</button>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <small class="text-secondary">Tries(4/5):</small>
          </div>
          <div class="">
            <small class="text-secondary">Mistakes:</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>