<div class="d-flex justify-content-center align-items-center vh-100 bg-primary-purple">
  <div class="text-center">
    <div class="card bg-dark text-white">
      <div class="card-body">
        @if (orderedWord.length > 0) {
        <h5>Adivina la palabra</h5>
        <div class="card bg-secondary">
          <div class="card-body">
            <h2>{{orderedWord}}</h2>
            <h2>{{desorderedWord}}</h2>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <span>Tries:</span>
          </div>
          <div>
            <span>Mistakes:</span>
          </div>
        </div>
        <div class="box-letters my-5">

        </div>

        <div>
          <button class="btn btn-primary mx-3 px-4">Random</button>
          <button class="btn btn-primary mx-3 px-4">Reset</button>
        </div>
        }
      </div>
    </div>
  </div>
</div>