.bg-primary-purple {
  background-image: linear-gradient(43deg, #4158D0 30%, #C850C0 70%, #ff7070 100%);
}

.letter {
  margin: 0 2px;
  width: 35px;
  padding: 8px;
}

.big-card {
  background-color: #030616;
  border-radius: 15px;
}

.modal-content {
  background-color: #121733;
  color: white;
}

.modal-SUCCESS {
  color: #01a601;
  font-weight: bold;
}

.modal-DANGER {
  color: red;
}

.btn-close {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.emoji-response {
  font-size: 60px;
}