.bg-primary-purple {
  background-image: linear-gradient(43deg, #4158D0 30%, #C850C0 70%, #ff7070 100%);
}

.letter {
  margin: 0 2px;
  width: 35px;
  padding: 8px;
}

.big-card {
  background-color: #030616;
  border-radius: 15px;
}

.modal-content {
  background-color: #121733;
  color: white;
}

.modal-SUCCESS {
  color: #01a601;
  font-weight: bold;
}

.modal-DANGER {
  color: red;
}

.modal-ANGRY {
  color: orange;
}

.modal-INFO {
  color: #0d6efd;
}

.btn-close {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.emoji-response {
  font-size: 60px;
}

.lightbulb-on {
  color: #0d6efd;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 50%;
  border: #0d6efd solid 2px;
}

.lightbulb-off {
  color: gray;
  padding: 4px 8px;
  border-radius: 50%;
  border: gray solid 2px;
}

.progress-clock {
  animation: moveClockwise 5s linear infinite;
}

@keyframes moveClockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.info {
  cursor: pointer;
}

.fa-lg {
  font-size: 20px;
}